#rcorners1 {
    border-radius: 0px;
    background: #73AD21;
    padding: 20px; 
    width: 50%;
    height: 50%;  
    position: absolute;
    margin-top: auto;
    margin-left: 25%;
}

#rcorners2 {
    border-radius: 20px;
    background: #a0ec35;
    padding: 20px; 
    width: 25%;
    height: 70%;
    margin-left: 35%;
}
